* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  color: rgba(154, 154, 154, 1);
  font-size: 20px;
  font-family: "Aleo", serif;
  font-size: 18px;
}

body{
  background: linear-gradient(rgba(255, 255, 255, 0.85),rgba(255, 255, 255, 0.85)),
  url("../img/background.jpg");
  background-size: 100%;
}

.navbar{
  background: linear-gradient(rgba(255, 255, 255, 0.70),rgba(255, 255, 255, 0.70))
}

.features{

  font-family: "Aleo", serif;
  font-size: 18px;
}

.description{
  font-size: 20px;
  font-family: "Aleo", serif;
}

.context{
  width: 60%;
  border-top: 4px solid black;
  border-bottom: 4px solid black;
}

footer{
  background-color: rgba(52, 50, 50, 1);
  margin-top: 100px;
  font-size: 15px;
  font-family: "Aleo", serif;
  color: rgba(154, 154, 154, 1);
}

.copyright {
  padding-bottom: 140px;
}

/*


.formulario{
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  margin: 70px;
}

.contacForm{
  padding: 50px;
}

@media(min-width:576px){

  .navbar{
  grid-area: navbar;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  }
  
  .container{
    flex-direction: row;
    justify-content: center;

  }

  .picture{
    width: 200px;
    margin-right: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .description{
    margin-right: 50px;
    margin-bottom: 20px;

  }
  .formulario{
    flex-wrap: wrap;
  }

}
*/