* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: rgba(154, 154, 154, 1);
  font-size: 20px;
  font-family: "Aleo", serif;
  font-size: 18px;
}


.picture{
  width: 100px;
  margin-right: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.navbar{
  grid-area: navbar;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

}

.navbar ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

.navbar ul li{
  padding: 10px;
}

body{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  grid-template-areas: "navbar navbar navbar"
                       "main main main" 
                       "footer footer footer";
  background: linear-gradient(rgba(255, 255, 255, 0.85),rgba(255, 255, 255, 0.85)),
  url("../img/background.jpg");
  background-size: 100%;
}

main{
  grid-area: main;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.features{
  padding: 50px;
  text-align: center;
  font-family: "Aleo", serif;
  font-size: 18px;
}

.description{
  display: flex;
  margin-left: 50px;
  margin-top: 20px;
  text-align: center;
  font-size: 17px;
  font-family: "Aleo", serif;
}
.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  border-top: 4px solid black;
  border-bottom: 4px solid black;
}

footer{
  background-color: rgba(52, 50, 50, 1);
  grid-area: footer;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  font-size: 15px;
  font-family: "Aleo", serif;
  color: rgba(154, 154, 154, 1);
}

.copyright {
  padding-bottom: 50px;
  text-align: center;
  margin-top: 30px;
}

h1{
  text-align: center;
}

.formulario{
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  margin: 70px;
}

.contacForm{
  padding: 50px;
}

@media(min-width:576px){

  .navbar{
  grid-area: navbar;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  }
  
  .container{
    flex-direction: row;
    justify-content: center;

  }

  .picture{
    width: 200px;
    margin-right: 100px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .description{
    margin-right: 50px;
    margin-bottom: 20px;

  }
  .formulario{
    flex-wrap: wrap;
  }

}