* {
  padding: 0;
  margin: 0;
}

body {
  background: linear-gradient(
      rgba(255, 255, 255, 0.85),
      rgba(255, 255, 255, 0.85)
    ),
    url("../img/background.jpg");
  background-size: 100%;
}

nav ul li {

  padding: 20px;
  margin: 40px;
  display: inline;
  flex-direction: row;
}
.navbar{
    margin-left: 150px;
    padding: 20px;
}

a {
  text-decoration: none;
  color: rgba(154, 154, 154, 1);
  font-size: 20px;
  font-family: "Aleo", serif;
  font
}

.features {
    text-align: center;
  margin: 100px 700px;
  margin-bottom: 50px;
  margin-top: 50px;
  font-family: "Aleo", serif;
  font-size: 18px;
}

.container {
  width: 5%;
  border-top: 4px solid black;
  border-bottom: 4px solid black;
  margin: 50px 600px;
  padding-right: 620px;
  display: flex;
  flex-direction: row;

}

.picture {
  padding: 20px;
}

.description {
  margin: 20px;
  padding-top: px;

  text-align: center;
  font-size: 18px;
  font-family: "Aleo", serif;
  display: flex;
  flex-direction: row;
}

footer {
  background-color: rgba(52, 50, 50, 1);
  padding-top: 50px;
  padding-bottom: 50px;
}

.copyright {
  padding-bottom: 50px;
  text-align: center;
  font-size: 15px;
  font-family: "Aleo", serif;
  color: rgba(154, 154, 154, 1);
}
