.form {
    background-color: white;
    width: 400px;
    border-radius: 8px;
    padding: 20px 40px;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .2);
  }
  .submitBtn {
    padding: map-get($button , padding );
    border: map-get($button , border );
    background-color: map-get($button , bkgColor );
    color: map-get($button , color );
    border-radius: map-get($button, radius );
    font-size: map-get($button, fontSize );
    display: block;
    margin-left: auto;
    margin-top: 30px;
    cursor: pointer;

   
    &:hover {
      background-color: #3f3a3a;
      transform: translateY(-2px);
    }
  }
  .submitBtnContact {
   @extend .submitBtn;

    &:hover {
      background-color: #086a05;
      transform: translateY(-4px);
    }
  }
  

  
