.form {
    background-color: white;
    width: 400px;
    border-radius: 8px;
    padding: 20px 40px;
    box-shadow: 0 10px 25px rgba(92, 99, 105, .2);

    .title {
        font-size: 40px;
        margin-bottom: 50px;
      }
.inputContainer {
    position: relative;
    height: 45px;
    width: 90%;
    margin-bottom: 17px;
  }
  
@mixin propLabelnInput($top,$left,$padding) {
  top:$top;
  left:$left;
  padding:$padding
  
}
  
  .input {
    @include propLabelnInput(0px,0px,0 20px );
    position: absolute;
    height: 100%;
    width: 100%;
    border: 1px solid #000000;
    border-radius: 7px;
    font-size: 16px;
    outline: none;
    background: none;
    z-index: 1;
    &:focus + .label {
      top: -7px;
      left: 3px;
      z-index: 10;
      font-size: 14px;
      font-weight: 600;
      color: rgb(0, 0, 0);
  
      &:focus {
        border: 2px solid rgb(71, 69, 71);
      }
    }

    &:not(:placeholder-shown)+ .label {
      top: -7px;
      left: 3px;
      z-index: 10;
      font-size: 14px;
      font-weight: 600;
    }
  }

  ::placeholder {
    color: transparent;
  }
  
  .label {
    @include propLabelnInput(15px,15px,0 4px );
    position: absolute;
    background-color: white;
    color: #DADCE0;
    font-size: 16px;
    transition: 0.5s;
    z-index: 0;
  }

  .submitBtn {
    display: block;
    margin-left: auto;
    padding: 15px 30px;
    border: none;
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 30px;

    &:hover {
      background-color: #3f3a3a;
      transform: translateY(-2px);
    }
  }

  }