.features{

        font-family: $fontFamily;
        font-size: 20px;
}
.description{
    font-size: 20px;
    font-family: $fontFamily;
  }
  
  .context{
    width: 60%;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
  }
.inscripcion{
  @extend .features;
}