.navbar{
    background: linear-gradient(rgba(255, 255, 255, 0.70),rgba(255, 255, 255, 0.70));
    a {
        color: rgba(154, 154, 154, 1);
        font-family: $fontFamily;
        font-size: 18px;
      }
  }